<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test TP5验证</title>
    <style>
        .box{margin: 0 auto;width: 500px}
        .myInput{
            margin-bottom: 10px;
            width: 200px;
            height: 30px;
        }
    </style>
</head>
<body>
    <div class="box">
        <h1>注册用户</h1>
        <form action="{:url('index/index/registerUser')}" method="post">
            <div class="myInput">
                <input type="text" name="username" placeholder="请输入用户名" />
            </div>
            <div class="myInput">
                <input type="text" name="email" placeholder="请输入邮箱" />
            </div>
            <div class="myInput">
                <input type="text" name="mobile" placeholder="请输入手机号" />
            </div>
            <div class="myInput">
                <input type="text" name="password" placeholder="请输入密码" />
            </div>
            <div class="myInput">
                <!--{:token()}-->
                <input type="submit" value="注册">
            </div>
        </form>
    </div>
</body>
</html>